.singleProduct {
    display: flex;
    flex-direction: column;
    grid-column: span 4/span 4;
    justify-content: space-between
}

.singleProduct_listing_link,
.singleProduct_listing_link:hover {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    --tw-text-opacity: 1;
    color: #816c65;
    color: rgba(129, 108, 101, var(--tw-text-opacity))
}

.singleProduct_listing_header {
    position: relative
}

.singleProduct_listing_image {
    height: 180px !important;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

@media (min-width:600px) {
    .singleProduct_listing_image {
        height: auto !important
    }
}

@media (min-width:1024px) {
    .singleProduct_listing_image {
        height: 420px !important
    }
}

.singleProduct_listing_image.blurred {
    display: block;
    filter: blur(10px);
    height: auto;
    -webkit-mask-image: radial-gradient(circle, #000 100%, transparent 0);
    mask-image: radial-gradient(circle, #000 100%, transparent 0);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
    width: 100%
}

.bundles_singleProduct .singleProduct_listing_image {
    aspect-ratio: 1/1;
    height: auto !important
}

.singleProduct_listing_category {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75rem
}

@media (min-width:1024px) {
    .singleProduct_listing_category {
        font-size: 1.5rem;
        line-height: 2rem
    }
}

.singleProduct_listing_type {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1rem
}

@media (min-width:1024px) {
    .singleProduct_listing_type {
        font-size: 1.125rem;
        line-height: 1.75rem
    }
}

.singleProduct_listing_reviews {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: .125rem
}

.singleProduct_listing_reviews_link {
    align-items: center;
    display: flex;
    gap: .025rem;
    width: -moz-fit-content;
    width: fit-content;
    --tw-text-opacity: 1;
    color: #816c65;
    color: rgba(129, 108, 101, var(--tw-text-opacity))
}

.singleProduct_listing_reviews_link>.reviewStars_icons>img {
    width: .75rem
}

@media (min-width:640px) {
    .singleProduct_listing_reviews_link>.reviewStars_icons>img {
        width: auto
    }
}

.singleProduct_listing_reviews_count {
    font-size: 10px;
    font-weight: 300;
    margin-left: .25rem;
    padding-top: 3px;
    --tw-text-opacity: 1;
    color: #816c65;
    color: rgba(129, 108, 101, var(--tw-text-opacity))
}

@media (min-width:640px) {
    .singleProduct_listing_reviews_count {
        font-size: .75rem;
        line-height: 1rem
    }
}

.singleProduct_listing_description {
    font-size: .75rem;
    font-weight: 400;
    line-height: 1rem
}

@media (min-width:768px) {
    .singleProduct_listing_description {
        font-size: .875rem;
        line-height: 1.25rem
    }
}

.bundles_singleProduct .singleProduct_listing_price {
    align-items: center;
    flex-direction: row-reverse;
    gap: .8rem;
    justify-content: center
}

@media (min-width:768px) {
    .bundles_singleProduct .singleProduct_listing_price {
        display: inline-flex
    }
}

.bundles_singleProduct .singleProduct_listing_price_regularPrice {
    text-decoration-thickness: 1px
}

@media (min-width:768px) {
    .bundles_singleProduct .singleProduct_listing_price_regularPrice {
        font-size: 1.125rem;
        line-height: 1.75rem
    }
}

.singleProduct_listing_price {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin-bottom: .25rem;
    margin-top: .25rem
}

@media (min-width:1024px) {
    .singleProduct_listing_price {
        font-size: 22px;
        line-height: 2rem
    }
}

.singleProduct_listing_price_regularPrice {
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
    line-height: 1.1;
    margin-bottom: -.25rem;
    opacity: .8;
    text-decoration-line: line-through
}

.singleProduct_lising_variations {
    display: flex;
    gap: 1rem;
    justify-content: center
}

.singleProduct_lising_variations_single {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 100%;
    width: 100%
}

.singleProduct_lising_variations_single_price {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.75rem
}

.singleProduct_lising_variations_single_quantity {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    text-transform: uppercase
}

.singleProduct_lising_variations_single_old {
    display: block;
    font-size: .875rem;
    line-height: 1.25rem;
    margin: auto auto -.25rem;
    opacity: .8;
    position: relative;
    width: -moz-fit-content;
    width: fit-content
}

.singleProduct_lising_variations_single_old>span {
    font-size: inherit;
    margin-bottom: .5rem;
    margin-top: .5rem
}

.singleProduct_lising_variations_single_old:before {
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    --tw-border-opacity: 1;
    border-color: #816c65;
    border-top: 1px #816c65;
    border-color: rgba(129, 108, 101, var(--tw-border-opacity));
    border-style: solid
}

.singleProduct_listing_iconsContainer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1
}

.singleProduct_listing_iconsContainer .textIcon {
    border-radius: .375rem;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    --tw-bg-opacity: 1;
    background-color: #debaa7;
    background-color: rgba(222, 186, 167, var(--tw-bg-opacity));
    font-size: 11px;
    font-weight: 500;
    line-height: 1rem !important;
    padding: .15rem .25rem;
    text-align: left;
    text-transform: uppercase;
    --tw-text-opacity: 1;
    color: #fff;
    color: rgba(255, 255, 255, var(--tw-text-opacity))
}

@media (min-width:1024px) {
    .singleProduct_listing_iconsContainer .textIcon {
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 5px .5rem
    }
}

.singleProduct_listing_iconsContainer .imgIcon {
    width: 3rem
}

@media (min-width:1024px) {
    .singleProduct_listing_iconsContainer .imgIcon {
        width: 5rem
    }
}

.singleProduct_listing_iconsContainer .imgIcon>img {
    height: auto;
    width: 100%
}

.bundles_singleProduct .singleProduct_listing_iconsContainer {
    gap: .1rem;
    margin-left: -10px;
    margin-top: .5rem
}

@media (min-width:768px) {
    .bundles_singleProduct .singleProduct_listing_iconsContainer {
        gap: .5rem
    }
}

.singleProduct_listing_iconsContainer_new {
    border-radius: .375rem;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    --tw-bg-opacity: 1;
    background-color: #debaa7;
    background-color: rgba(222, 186, 167, var(--tw-bg-opacity));
    font-size: 11px;
    font-weight: 500;
    line-height: 1rem !important;
    padding: .15rem .25rem;
    text-align: left;
    text-transform: uppercase;
    --tw-text-opacity: 1;
    color: #fff;
    color: rgba(255, 255, 255, var(--tw-text-opacity))
}

@media (min-width:1024px) {
    .singleProduct_listing_iconsContainer_new {
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 5px .5rem
    }
}

.singleProduct_listing_iconsContainer_limitedEdition {
    --tw-bg-opacity: 1 !important;
    background-color: #ff8495 !important;
    background-color: rgba(255, 132, 149, var(--tw-bg-opacity)) !important
}

#searchHolder_loader {
    background-color: hsla(15, 12%, 45%, .1);
    background-color: rgba(129, 108, 101, var(--tw-bg-opacity));
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    --tw-bg-opacity: 0.1
}

#searchHolder_loader>.csLoader {
    left: 50%;
    position: absolute;
    top: 50%;
    --tw-translate-x: -50%;
    --tw-translate-y: -50%;
    transform: translate(-50%, -50%) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

#cocosolisSearchBar_container,
#noResults,
#showSearchResults {
    margin: auto;
    max-width: 70rem
}

#noResults {
    padding-bottom: 4rem
}

#showSearchResults {
    display: none
}

#cocosolisSearchBar_container {
    margin-bottom: 1rem;
    position: relative
}

#searchHolder {
    display: none;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    z-index: 110;
    --tw-bg-opacity: 1;
    padding: 1.25rem 2rem 7rem
}

#cocosolisSearchBar,
#searchHolder {
    background-color: #fff;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    width: 100%
}

#cocosolisSearchBar {
    position: relative;
    --tw-border-opacity: 1;
    border: solid #e6e2e0;
    border-color: rgba(230, 226, 224, var(--tw-border-opacity));
    border-width: 0 0 2px;
    --tw-bg-opacity: 1;
    padding: 10px 10px 10px 2.5rem;
    --tw-text-opacity: 1;
    color: #816c65;
    color: rgba(129, 108, 101, var(--tw-text-opacity));
    outline: 2px solid transparent !important;
    outline-offset: 2px !important
}

#cocosolisSearchBar:focus {
    --tw-border-opacity: 1;
    border-color: #816c65;
    border-color: rgba(129, 108, 101, var(--tw-border-opacity))
}

@media (min-width:768px) {
    #cocosolisSearchBar {
        padding-left: 5rem
    }
}

#cocosolisSearchBar {
    transition: all .3 linear
}

#cocosolisSearchBar:focus {
    box-shadow: none !important
}

#clear_searchBar_button {
    cursor: pointer;
    font-size: 50px;
    left: 0;
    line-height: 1;
    position: absolute;
    top: 0
}

#cocosolisSearchBar_spyGlass {
    aspect-ratio: 1/1;
    display: none;
    left: 2.75rem;
    pointer-events: none;
    position: absolute;
    top: 50%;
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), -50%) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@media (min-width:768px) {
    #cocosolisSearchBar_spyGlass {
        display: block
    }
}

#mostPopular_text {
    padding-bottom: .75rem
}

#resultsContainer {
    padding-bottom: 1rem;
    padding-top: 1rem
}

.dynamicSearch_results_holder {
    display: flex;
    flex-direction: column;
    gap: 2rem
}

@media (min-width:768px) {
    .dynamicSearch_results_holder {
        flex-direction: row;
        gap: 5rem
    }
}

.mostPopularSearches_holder {
    display: flex;
    gap: .5rem
}

@media (min-width:768px) {
    .mostPopularSearches_holder {
        flex-direction: column
    }
}

.topSearchOption {
    cursor: pointer;
    font-weight: 600
}

.dyanmicSearch_results_midColumn {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    grid-gap: 2rem;
    gap: 2rem;
    padding-left: 1rem;
    padding-right: 1rem
}

@media (min-width:768px) {
    .dyanmicSearch_results_midColumn {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
}

@media (min-width:1024px) {
    .dyanmicSearch_results_midColumn {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        padding-left: 0;
        padding-right: 0
    }
}

.dyanmicSearch_results_midColumn_searchResult {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center
}

.searchwp-live-search-no-results {
    grid-column: 1/-1
}

#searchHolder .singleProduct_lising_variations_single_price,
#searchHolder .singleProduct_listing_price {
    display: block;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin-bottom: .25rem;
    margin-top: .25rem
}

@media (min-width:1024px) {

    #searchHolder .singleProduct_lising_variations_single_price,
    #searchHolder .singleProduct_listing_price {
        font-size: 1.5rem;
        line-height: 2rem
    }
}

#searchHolder .singleProduct_listing_image {
    height: auto !important;
    margin: auto;
    max-width: 200px
}